<footer class="banner-bottom">
    <div class="container-med">
        <div class="row banner-bottom__text">
            <div class="col text-center">
                {{socialIcons}}
                <p>{{siteTitle}} &copy; {{year}}</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";  // or /admin-secret-path/ if you renamed it
        });
      }
    });
  }
</script>
<script src="{{baseUrl}}js/navigation.js"></script>
<script src="{{baseUrl}}js/main.js"></script>
