<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{siteDescription}}">
    <meta name="google-site-verification" content="{{googleVerification}}">
    <title>{{title}} - {{siteTitle}}</title>
    
    <link rel="icon" type="image/jpeg" sizes="32x32" href="{{baseUrl}}images/icons/favicon-32x32.jpeg">
    <link rel="apple-touch-icon" sizes="180x180" href="{{baseUrl}}images/icons/apple-touch-icon-180x180.jpeg">
    <link rel="icon" type="image/jpeg" sizes="192x192" href="{{baseUrl}}images/icons/icon-192x192.jpeg">
    
    <link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{baseUrl}}dist/style.css">
    <link rel="stylesheet" href="{{baseUrl}}css/font-awesome.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
