/**
*
* THEME SPECIFIC COMPONENTS
*
*/

@use "variables" as *;

.banner {
  margin-top: 5rem;
}

.blog-header {
  color: $heading-font-color-primary;
}

.title-tag a {
  color: $font-color-primary;
  text-decoration: none;
  letter-spacing: 1.2px;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
  display: inline-block;

  &:hover {
    text-shadow: 1px 2px 15px $color-secondary;
  }
}

.sub-title {
  border-top: 1px solid $font-color-secondary;
  padding-top: 1rem;
}

.banner-bottom__text {
  border-top: 1px solid $font-color-secondary;
  padding-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

iframe {
  width: 100% !important;
  margin: 0 0 $typography-margins 0;
}

.row-gallery div {
  padding-right: 0;
  &:last-child {
    padding-right: 1.5rem;
  }
}

// social icons in footer
.social-icon {
  padding: 0 1rem;
  transition: all .3s;
}

h2,
h3,
h4,
h5 {
  color: $font-color-secondary;
}

// Even odd flex order
.even-odd:nth-child(even) {
  order: 1;
}

// hero image
.hero-image {
  margin-bottom: 1.5rem;
}

// press posts content
.press-content {
  margin-bottom: 1rem;
}

// press posts button
a.button {
  &--press {
    transition: all .3s;
  padding: .2rem .5rem;
    &:hover {
       transform: translateY(-3px);
    }
  }
}

.upcoming-shows,
.past-shows {
  margin-bottom: 3.5rem;
}

// Show date links
.date-ref {
  margin: 1.5rem 0;
  display: flex;
  align-items: flex-start;
  a {
    transition: all .3s;
    &:hover {
      text-decoration: none;
    }
  }
  &::before {
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    min-width: 0.75rem;
    margin-right: 1.5rem;
    margin-top: 0.5em;
    background-color: $color-white;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .3s ease-out;
  background: linear-gradient(to top, #121118 0%, transparent 100%);
}
