<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    {{> nav}}
    
    {{#heroImage}}
    <div class="container-med">
        <h2 class="sub-title">{{title}}</h2>
        <div class="hero-image">
            <img src="{{heroImage}}" alt="{{title}}" class="img-100">
        </div>
    </div>
    {{/heroImage}}
    <main class="container-med">
        <div class="row">
            <div class="col">
                {{#introContent}}
                <div class="page-intro">{{introContent}}</div>
                {{/introContent}}
                <!-- <div class="media-items">
                    {{mediaItems}}
                </div> -->
            </div>
        </div>
    </main>
    
    {{> footer}}
</body>
</html>
